    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>About</h3>
                        <p>
                            This page is a part of a </br>
                            submission for the Open Science Price award.
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Antidote team</h3>
                        <ul>
                            <li>
                                George Papadatos (EMBL-EBI)
                            </li>
                            <li>
                                Michal Nowotka (EMBL-EBI)
                            </li>
                            <li>
                                Nathan Brown (ICR)
                            </li>
                            <li>
                                Greg Landrum (T5 Informatics, KNIME)
                            </li>
                            <li>
                                Patrick Walters (Vertex Pharmaceuticals)
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Credits</h3>
                        <p>The Antidote project relies upon Open Source software packages.
                           We would like to acknowledge all members of the <a href="https://www.ebi.ac.uk/chembl/">ChEMBL</a> team.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
