    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                    <div class="intro-text">
                        <a href="/open-science-prize-proposal/" class="btn btn-primary btn-xl page-scroll wow tada">Read the proposal</a>
                    </div>
                </div>
            </div>
        </div>
    </header>