<!-- Install Grid Section -->
<section id="screenshots">
    <div class="container" style="width:700px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Screenshots</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">





                        <div class="item active">
                            <img class="img-responsive" src="{{ site.url }}/img/1.png" alt="first slide">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{{ site.url }}/img/2.png" alt="second slide">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{{ site.url }}/img/3.png" alt="third slide">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{{ site.url }}/img/4.png" alt="fourth slide">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{{ site.url }}/img/5.png" alt="fifth slide">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{{ site.url }}/img/6.png" alt="sixth slide">
                        </div>



        </div>
    </div>
</section>
